<!DOCTYPE html>
<html>

<head>
    <title>GoBA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./client/style.css">
</head>

<body>
    <div id="app">
        <div v-if="inGame" class="game">
            <div class="game-panel">
                <h1 class="mb-3">GoBA - Go Battle Arena</h1>
                <div class="main-panel">
                    <canvas id="canvas"></canvas>
                </div>
                <div class=" side-panel bg-light">
                    <div class="card m-2">
                        <div class="card-body">
                            <h3 class="card-title"></h3>
                            <p class="card-text">Code: <span class="fw-bold">{{ code }}</span>
                            </p>

                            <h3 class="card-title">Scoreboard</h3>
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <th class="fw-bold">Player</th>
                                        <th class="fw-bold">Kills</th>
                                        <th class="fw-bold">Deaths</th>
                                        <th class="fw-bold">Assists</th>
                                    </tr>
                                    <tr v-for="score in scores">
                                        <td>{{ score.name }}</td>
                                        <td>{{ score.kills }}</td>
                                        <td>{{ score.deaths }}</td>
                                        <td>{{ score.assists }}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-sm btn-outline-danger" @click="refresh">Disconnect</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" container pt-5" v-if="!inGame">
            <h1 class="mb-4">Welcome to GoBA</h1>
            <div class="row g-5">
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="card card-shadow p-2 mb-4 border-0">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">Create Game</h5>
                            <div class="mb-3">
                                <label for="name" class="form-label">Username</label>
                                <input v-model="createName" class="form-control" aria-describedby="emailHelp">
                                <div class="form-text">No account is required</div>
                            </div>

                            <!-- Error creating game -->
                            <div v-if="createError" class="alert alert-danger">
                                {{ createErrorMessage }}
                            </div>

                            <a @click="createGame" class="btn btn-sm btn-success px-5">Create</a>
                        </div>
                    </div>

                    <!-- Join game card -->
                    <div class="card card-shadow p-2 mb-4 border-0">
                        <div class=" card-body">
                            <h5 class="card-title">Join Game</h5>
                            <div class="mb-3">
                                <label for="name" class="form-label">Username</label>
                                <input v-model="joinName" class="form-control" aria-describedby="emailHelp">
                                <div class="form-text">No account is required</div>
                            </div>
                            <div class="mb-3">
                                <label for="code" class="form-label">Game Code</label>
                                <input v-model="code" class="form-control">
                                <div class="form-text">Each game has a unique 6 character code</div>
                            </div>
                            <!-- Error joining game -->
                            <div v-if="joinError" class="alert alert-danger">
                                {{ joinErrorMessage }}
                            </div>
                            <a @click="joinGame" class="btn btn-sm btn-primary px-5">Join</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mx-4 mb-5">
                        <h4>Overview</h4>
                        <hr />
                        <p>GoBA is a simple multiplayer online battle arena game (MOBA) created
                            using Go.</p>

                        <h6 class="fw-bold">How to Play</h6>
                        <p>To play GoBA either create a game, or join an existing game. You do not
                            need to create an
                            account, the username is simply shown to other users
                        </p>
                        <h6 class="fw-bold">Controls</h6>
                        <ul>
                            <li>Click to move</li>
                            <li>Scroll to zoom the camera in/out</li>
                            <li>Q: fire a projectile in the direction of the mouse (0.1 second
                                cooldown)</li>
                            <li>W: increase player movement speed 3x for 0.20 seconds (2 second
                                cooldown)</li>
                            <li>Y: Unlock the camera (freeze the camera inplace)</li>
                        </ul>

                        <h4>Technical</h4>
                        <hr />
                        <p>The server is written in Go and communicates with clients using websockets. The server runs
                            at 64 ticks per second (TPS). TPS is the number of times per second clients receive updates
                            from the server. The client was built using Typescript and Vue.
                            GoBA is deployed using AWS Elastic Beanstalk. For more details and the full source code see
                            the
                            GitHub repository.
                        </p>
                        <div class="mb-4">
                            <a href="https://github.com/danielholmes839/GoBA"
                                class="btn btn-sm btn-outline-primary d-inline px-4 ">GitHub
                                Repository</a>
                        </div>

                        <span>Created by <a href="https://www.linkedin.com/in/holmes-daniel/">Daniel
                                Holmes</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src=" ./client/dist/bundle.js">
</script>

</html>